<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button icon="arrow-round-back" defaultHref="login"></ion-back-button>
      </ion-buttons>
    <ion-title>reset-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid padding>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
  <ion-row>
    <ion-col>
      <h1>Reset Your Password</h1>
    </ion-col>
  </ion-row>
  <ion-row justify-content-center>
    <ion-col size="12" size-lg="6">
      <p>Fill in your email address below. If you have an account a link will be sent to you so that you can reset your password.</p>
    </ion-col>
  </ion-row>
  <ion-row justify-content-center>
    <ion-col size="12" size-lg="6">
      <ion-item>
          <ion-input
          formControlName="email"
          required
          type="email"
          placeholder="Email"
        >
        </ion-input>
      </ion-item>
      <span *ngIf="resetPasswordForm.controls['email'].hasError('required') && resetPasswordForm.controls['email'].touched">Field is required</span>
    </ion-col>
  </ion-row>
  <ion-row justify-content-center>
    <ion-col size="12" size-lg="6">
      <ion-button type="submit" size="full">Submit</ion-button>
    </ion-col>
  </ion-row>
  <ion-row justify-content-center>
    <ion-col size="12" size-lg="6">
      <a routerLink="/login"><ion-button size="full" fill="clear">Cancel</ion-button></a>
    </ion-col>
  </ion-row>
  </form>
</ion-grid>
</ion-content>