<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      I Can't Wait!!!!! 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-style">
  <ion-row justify-content-center>
    <h3>My Current Timers</h3>
  </ion-row>
  <ion-grid>
    <ion-card color="light" *ngFor="let timer of timers | async">
      <ion-row>
        {{ timer.name }}
        {{ timer.endDate.toDate() | date:"mediumDate" }}
        {{ timeUntil(timer.endDate) }}
      </ion-row>
      <ion-row align-items-start>
        <ion-button fill="clear" shape="round" (click)="onDelete(timer)">
          <ion-icon color="primary" name="trash"></ion-icon>
        </ion-button>
         <ion-button fill="clear" shape="round" routerLink="/edit-timer/{{timer.id}}">
          <ion-icon color="primary" name="create"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-card>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button
        size="small"
        color="danger"
        routerLink="/add-timer">
        <ion-icon color="light" name="add-circle"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
