<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      I Can't Wait!!!!! 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>My Current Timers</h3>

  <ion-grid>
    <ion-row *ngFor="let timer of timers | async">
      <ion-button
        color="primary"
        routerLink="/edit-timer/{{timer.id}}"
      >
        <ion-icon name="edit"></ion-icon>
      </ion-button>
      <div>
        {{ timer.name }}
        {{ timer.endDate.toDate() | date:"mediumDate" }}
        {{ timeUntil(timer.endDate) }}
      </div>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button
        color="primary"
        routerLink="/add-timer">
        <ion-icon name="add-circle"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
